.page {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
}
/* колір заголовка h1 #FFFFFF;*/
/* navigation link hover #2196F3;*/
/* navigation link #212121; */
/* logo color1 #2196F3; */
/* logo color2 #000000; */

.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #000000;
}

.list {
  list-style: none;
}

.site-nav,
.site-contacts {
  font-size: 14px;
  font-weight: 500;
}

.site-nav-link {
  text-decoration: none;
  color: #212121;
}
.site-nav-link:hover,
.site-nav-link:focus,
.logo-highlight {
  color: #2196f3;
}

.header-contacts-link {
  text-decoration: none;
  color: #757575;
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: #2196f3;
}

.hero {
  background-color: #2f303a;
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  color: #ffffff;
  text-transform: uppercase;
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  color: #ffffff;
  background-color: #2196f3;
}

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: #212121;
}

.about-subtitle {
  font-size: 14px;
  font-weight: 700;
  color: #212121;
  text-transform: uppercase;
}

.about-text {
  font-size: 14px;
  font-weight: 400;
  color: #757575;
}

.team {
  background-color: #f5f4fa;
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  color: #212121;
}

.team-position {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}

.footer {
  background-color: #2f303a;
  color: #ffffff;
}

.footer-logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: #ffffff;
}

.post-address {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.footer-contacts-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}

.btn-items {
  text-align: center;
}

.btn-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #212121;
  background-color: #f5f4fa;
}
.portfolio-name {
  font-size: 18px;
  font-weight: 700;
  color: #212121;
}

.portfolio-type {
  font-size: 16px;
  font-weight: 400;
  color: #757575;
}
