/* Визначення кольорів */

:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --accent-color: #2196f3;
  --background-color-dark: #2f303a;
  --background-color-light: #f5f4fa;
  --primary-header-color: #ffffff;
  --logo-color: #000000;
  --footer-logo-color: #ffffff;
  --footer-contatcs-color: rgba(255, 255, 255, 0.6);
}

.page {
  font-family: 'Roboto', sans-serif;
  background-color: var(--white-color);
}
/* колір заголовка h1 #FFFFFF;*/
/* navigation link hover #2196F3;*/
/* navigation link #212121; */
/* logo color1 #2196F3; */
/* logo color2 #000000; */

/* Логотип */

.logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--logo-color);
}

.list {
  list-style: none;
}

/* Меню навігації */

.site-nav,
.site-contacts {
  font-size: 14px;
  font-weight: 500;
}

.site-nav-link {
  text-decoration: none;
  color: var(--primary-text-color);
}
.site-nav-link:hover,
.site-nav-link:focus,
.logo-highlight {
  color: var(--accent-color);
}

.header-contacts-link {
  text-decoration: none;
  color: var(--secondary-text-color);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  color: var(--accent-color);
}

/* Головний розділ сайту */

.hero {
  background-color: var(--background-color-dark);
  text-align: center;
}

.hero-title {
  font-size: 44px;
  font-weight: 900;
  color: var(--primary-header-color);
  text-transform: uppercase;
}

.hero-button {
  font-size: 16px;
  font-weight: 700;
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* Типовий розділ */

.section-title {
  font-size: 36px;
  font-weight: 700;
  color: var(--primary-text-color);
}

/* Розділ Чем мы занимаемся */

.about-subtitle {
  font-size: 14px;
  font-weight: 700;
  color: var(--primary-text-color);
  text-transform: uppercase;
}

.about-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

/* Розділ Наша команда */

.team {
  background-color: var(--background-color-light);
}

.team-name {
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
}

.team-position {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
}

/* Нижній колонтитул */

.footer {
  background-color: var(--background-color-dark);
  color: var(--white-color);
}

.footer-logo {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  font-weight: 700;
  color: var(--white-color);
}

.post-address {
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
}

.footer-contacts-link {
  text-decoration: none;
  font-style: normal;
  color: var(--footer-contatcs-color);
}

/* Розділ Портфолио */

.btn {
  text-align: center;
}

.btn-item {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: var(--primary-text-color);
  background-color: var(--background-color-light);
  display: inline-block;
  padding: 6px 22px;
  border-color: transparent;
  height: 38px;
}

.btn-item:hover,
.btn-item:active {
  color: var(--white-color);
  background-color: var(--accent-color);
}

.portfolio-name {
  font-size: 18px;
  font-weight: 700;
  color: var(--primary-text-color);
}

.portfolio-type {
  font-size: 16px;
  font-weight: 400;
  color: var(--secondary-text-color);
}
